%h1 Super Blogger

%p Find me in app/views/secrets/show.html.erb

%p Here you can post blog posts, view and post comments on blog posts, and comment on comments

/ = link_to 'My List of Posts'
%br
= link_to 'List of All Posts', posts_path
